@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Lato', sans-serif;
}

.home-bg {
  background-image: url('/img/home-bg.png');
  background-repeat: no-repeat;
}

.bg-rugged {
  background-color: #115e59;
}

.bg-simple {
  background-color: #e17654;
}

.bg-luxury {
  background-color: #161616;
}
