@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  font-family: 'Lato', sans-serif;
}

.home-bg {
  background-image: url('/img/home-bg.png');
  background-repeat: no-repeat;
}
