@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.home-bg {
  background-image: url('/img/home-bg.png');
  background-repeat: no-repeat;
}
